h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1b8ee855{ color:#8080C0; text-decoration: underline} 
		a.wsp1b8ee855:visited{ color:#0000FF; text-decoration: none} 
		a.wsp1b8ee855:active{ color:#111111; text-decoration: none} 
		a.wsp1b8ee855:hover{ color:#0000FF; text-decoration: underline} 
		a.wsp4d10d280{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:visited{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:active{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:hover{ color:#999999; text-decoration: none} 
		a.wsp69ed8850{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:visited{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:active{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:hover{ color:#999999; text-decoration: underline} 
#menu_37724ad4 a { text-decoration: none; }
#menu_37724ad4_pane { background-color: #B30000; border: 1px solid #B30000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_37724ad4_hr { background-color: #B30000; height: 1px; border: none; }
#menu_37724ad4_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_37724ad4_entry:hover { background-color: #B30000; color: #FFFFFF !important; }
#menu_37724ad4_entry:hover span { color:#FFFFFF !important; }
		.menu_37724ad4_mainMenuEntry { text-align: center; }
		.menu_37724ad4_mainMenuEntry:hover {	background-color:#B30000; }
		.menu_37724ad4_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_37724ad4 .mobileEntry { display: none; } 
		#menu_37724ad4 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_37724ad4 .mobileEntry { display: block; } 
			#menu_37724ad4 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_76e14b1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#B30000;  }
#container_76e14b1_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_5b9f01e { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:43px; max-width:1200px; background:none;  }
#menu_37724ad4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#B30000; border: 1px solid #B30000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:140px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:150px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:237px;  }
.menustyle5 { position:absolute; width:43px; height:38px; left:320px;  }
.menustyle6 { position:absolute; width:84px; height:38px; left:363px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_552408e5 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:4482px; max-width:1100px; background:none;  }
#container_552408e5_padding { margin: 1px; display: block;  }
#container_73b30d23 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:300px; max-width:1100px; background:none;  }
#anchor_663758dc { vertical-align: bottom; position:relative; display: inline-block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_2a61ec85 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:269px; background:none;  }
#container_2a61ec85_padding { margin: 5px; display: block;  }
#container_5582b55d { vertical-align: top; position:relative; display: inline-block; min-height:270px; background:none;  }
#container_5582b55d_padding { margin: 5px; display: block;  }
#img_4e73bd93 { vertical-align: bottom; position:relative; display: inline-block; margin:5px; height:93%; max-width:215px; background:none;  }
#container_36587bb1 { vertical-align: bottom; position:relative; display: inline-block; width:76%; min-height:279px; background:none;  }
#container_36587bb1_padding { margin: 5px; display: block;  }
#container_35b02c28 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:249px; background:none;  }
#container_35b02c28_padding { margin: 1px; display: block;  }
#container_676b9e73 { vertical-align: top; position:relative; display: inline-block; width:99%; min-width:295px; background:none;  }
#container_676b9e73_padding { margin: 5px; display: block;  }
#heading_75d46a7 { vertical-align: bottom; position:relative; display: inline-block; width:455px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_3b80eab8 { vertical-align: top; position:relative; display: inline-block; width:92%; min-width:295px; background:none;  }
#container_3b80eab8_padding { margin: 5px; display: block;  }
#heading_71f9538b { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle8 { font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5e7d0601 { vertical-align: top; position:relative; display: inline-block; width:99%; min-width:295px; background:none;  }
#container_5e7d0601_padding { margin: 5px; display: block;  }
#container_69faefac { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:51px; min-width:295px; background:none;  }
#container_69faefac_padding { margin: 5px; display: block;  }
#container_76658432 { vertical-align: top; position:relative; display: inline-block; width:65%; min-width:295px; background:none;  }
#container_76658432_padding { margin: 5px 5px 5px 0px; display: block;  }
#img_584ee4b0 { vertical-align: bottom; position:relative; display: inline-block; width:40px; height:40px; background:none;  }
#img_5cc14121 { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 10px; width:40px; height:40px; background:none;  }
#img_2ed47a2b { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 10px; width:40px; height:40px; background:none;  }
#img_46238aeb { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 10px; width:40px; height:40px; background:none;  }
#img_49f2294d { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 10px; width:40px; height:40px; background:none;  }
#container_551de3f4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:351px; max-width:1100px; background:none;  }
#container_551de3f4_padding { margin: 5px; display: block;  }
#container_4af313e1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_764e56f6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_764e56f6_padding { margin: 5px; display: block;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#B30000;  }
#container_79deed77 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_79deed77_padding { margin: 5px; display: block;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5db676ef { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1100px; background:none;  }
#container_5db676ef_padding { margin: 5px; display: block;  }
#anchor_3ed8adb4 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_1f405828 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:33px; background:none;  }
#container_1f405828_padding { margin: 5px; display: block;  }
#heading_1cab4bd { vertical-align: bottom; position:relative; display: inline-block; min-width:295px; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#container_643da07c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_643da07c_padding { margin: 5px; display: block;  }
#heading_17e97efb { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#container_26bf519f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_26bf519f_padding { margin: 5px; display: block;  }
#container_beceab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_beceab_padding { margin: 5px; display: block;  }
#img_796b6a88 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-width:285px; background:none; height:auto;  }
#container_6b42228 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6b42228_padding { margin: 5px; display: block;  }
#container_163993fd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:93px; max-width:1100px; background:none;  }
#container_163993fd_padding { margin: 5px; display: block;  }
#container_3d093fdc { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3d093fdc_padding { margin: 5px; display: block;  }
#heading_21563e35 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#container_709dbfbd { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_709dbfbd_padding { margin: 5px; display: block;  }
#container_4585d871 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4585d871_padding { margin: 10px; display: block;  }
#img_5f7c0261 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-width:285px; background:none; height:auto;  }
#container_c1d776f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_c1d776f_padding { margin: 5px; display: block;  }
#container_3cbd9cba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:74px; max-width:1100px; background:none;  }
#container_3cbd9cba_padding { margin: 5px; display: block;  }
#container_3cb2c418 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; min-width:285px; background:none;  }
#container_3cb2c418_padding { margin: 5px; display: block;  }
#heading_755b767a { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#container_3c62bcba { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3c62bcba_padding { margin: 5px; display: block;  }
#container_3e2bedd0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-width:285px; background:none;  }
#container_3e2bedd0_padding { margin: 5px 5px 5px 0px; display: block;  }
#container_72cd1e25 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_72cd1e25_padding { margin: 5px; display: block;  }
#container_4a63b54 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:150px; background:none;  }
#container_4a63b54_padding { margin: 10px; display: block;  }
#img_5cda6e48 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_298007f1 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:150px; background:none;  }
#container_298007f1_padding { margin: 10px; display: block;  }
#video_50b1b37e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_16884fa5 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_16884fa5_padding { margin: 5px; display: block;  }
#container_4ac6bdc2 { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1100px; background:none;  }
#container_4ac6bdc2_padding { margin: 5px; display: block;  }
#heading_7be0224f { vertical-align: bottom; position:relative; display: inline-block; min-width:295px; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#heading_7be0224f_padding { margin: 0px 0px 0px 5px; display: block;  }
#container_7c297ee2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background:none;  }
#container_7c297ee2_padding { margin: 0px 5px 5px 5px; display: block;  }
#container_7472631f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7472631f_padding { margin: 5px; display: block;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic;  }
#container_26596a9f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_26596a9f_padding { margin: 0px 5px 5px 5px; display: block;  }
#container_3d361333 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3d361333_padding { margin: 5px 5px 5px 0px; display: block;  }
#heading_20a3c36a { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#heading_20a3c36a_padding { margin: 0px 0px 0px 5px; display: block;  }
#container_5eb5acf1 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5eb5acf1_padding { margin: 5px; display: block;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#111111;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#111111; font-weight:bold;  }
#container_1ae97410 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1ae97410_padding { margin: 0px 10px 10px 5px; display: block;  }
#container_3c450053 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3c450053_padding { margin: 5px; display: block;  }
#heading_2c76a891 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#container_1d9477ee { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1d9477ee_padding { margin: 5px; display: block;  }
#container_3cb8394b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3cb8394b_padding { margin: 5px; display: block;  }
#container_2650ee2c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2650ee2c_padding { margin: 5px; display: block;  }
#container_4685e3dd { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_4685e3dd_padding { margin: 5px; display: block;  }
#container_7e75adb9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7e75adb9_padding { margin: 5px; display: block;  }
#container_5ff5b7e4 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5ff5b7e4_padding { margin: 5px; display: block;  }
#container_730b22b1 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_730b22b1_padding { margin: 5px; display: block;  }
#container_2e028264 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2e028264_padding { margin: 5px; display: block;  }
#heading_7e96cf54 { vertical-align: bottom; position:relative; display: inline-block; min-width:295px; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#heading_7e96cf54_padding { margin: 0px 0px 0px 5px; display: block;  }
#container_6e0675 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6e0675_padding { margin: 0px 10px 10px 5px; display: block;  }
#container_50dae1cc { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_50dae1cc_padding { margin: 5px; display: block;  }
#container_532f1e3d { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_532f1e3d_padding { margin: 5px; display: block;  }
#container_f1147c1 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_f1147c1_padding { margin: 5px; display: block;  }
#container_40d3546c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_40d3546c_padding { margin: 5px; display: block;  }
#heading_5a7a8dd7 { vertical-align: bottom; position:relative; display: inline-block; width:472px; min-width:295px; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#heading_5a7a8dd7_padding { margin: 0px 0px 0px 5px; display: block;  }
#container_7ef63e15 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7ef63e15_padding { margin: 0px 10px 10px 5px; display: block;  }
#container_7d9d7b65 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7d9d7b65_padding { margin: 5px; display: block;  }
#container_17bbb8a0 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_17bbb8a0_padding { margin: 5px; display: block;  }
#container_2ba1a73d { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2ba1a73d_padding { margin: 5px; display: block;  }
#heading_7a4d7d91 { vertical-align: bottom; position:relative; display: inline-block; width:415px; min-width:295px; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:justify;  }
#heading_7a4d7d91_padding { margin: 0px 0px 0px 5px; display: block;  }
#container_b7c1ac0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1100px; background:none;  }
#container_b7c1ac0_padding { margin: 0px 10px 10px 5px; display: block;  }
#container_ad9de2b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_ad9de2b_padding { margin: 5px; display: block;  }
.textstyle14 { text-align:justify; }
#container_3486c8b4 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3486c8b4_padding { margin: 5px; display: block;  }
#container_7ffe1c58 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7ffe1c58_padding { margin: 5px; display: block;  }
#container_188d94d0 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_188d94d0_padding { margin: 5px; display: block;  }
#container_49bb288 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_49bb288_padding { margin: 5px; display: block;  }
#container_552e5d0a { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_552e5d0a_padding { margin: 5px; display: block;  }
#container_3d54fa09 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3d54fa09_padding { margin: 5px; display: block;  }
#container_4fe1b22c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_4fe1b22c_padding { margin: 5px; display: block;  }
#container_1416f36e { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1416f36e_padding { margin: 5px; display: block;  }
#container_48848ad7 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_48848ad7_padding { margin: 5px; display: block;  }
#container_6c5c9d91 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6c5c9d91_padding { margin: 5px; display: block;  }
#container_2315a985 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:46px; background-color:#BB1414;  }
#container_2315a985_padding { margin: 5px; display: block;  }
#container_5f1d6ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background:none;  }
#container_5f1d6ae_padding { margin: 10px; display: block;  }
#container_6d072f31 { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_6d072f31_padding { margin: 5px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_7c38fbe3 { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_7c38fbe3_padding { margin: 5px; display: block;  }
.textstyle16 { text-align:right; }
#img_76327f9e { position:absolute; left:88%; top:11%; width:3%; background:none; height:auto; position: fixed !important;
right: 25px !important;
bottom: 90px !important;
left: auto !important;
top: auto !important;
z-index: 9999; }
@media only screen and (max-width: 800px)
{
		#container_676b9e73 { width:50%;  }
		#container_3b80eab8 { width:50%;  }
		#container_5e7d0601 { width:50%;  }
		#container_69faefac { width:50%;  }
}
@media only screen and (max-width: 400px)
{
		#container_5582b55d { width:100%;  }
		#container_36587bb1 { width:100%;  }
		#container_676b9e73 { width:100%;  }
		#container_3b80eab8 { width:100%;  }
		#container_5e7d0601 { width:100%;  }
		#container_69faefac { width:100%;  }
		#container_764e56f6 { width:100%;  }
		#container_79deed77 { width:100%;  }
		#container_4a63b54 { width:100%;  }
		#container_298007f1 { width:100%;  }
		#container_6d072f31 { width:100%;  }
		#container_7c38fbe3 { width:100%;  }
}
