h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1b8ee855{ color:#8080C0; text-decoration: underline} 
		a.wsp1b8ee855:visited{ color:#0000FF; text-decoration: none} 
		a.wsp1b8ee855:active{ color:#111111; text-decoration: none} 
		a.wsp1b8ee855:hover{ color:#0000FF; text-decoration: underline} 
		a.wsp4d10d280{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:visited{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:active{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:hover{ color:#999999; text-decoration: none} 
		a.wsp69ed8850{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:visited{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:active{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:hover{ color:#999999; text-decoration: underline} 
#menu_78c964fa a { text-decoration: none; }
#menu_78c964fa_pane { background-color: #B30000; border: 1px solid #B30000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_78c964fa_hr { background-color: #B30000; height: 1px; border: none; }
#menu_78c964fa_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_78c964fa_entry:hover { background-color: #B30000; color: #FFFFFF !important; }
#menu_78c964fa_entry:hover span { color:#FFFFFF !important; }
		.menu_78c964fa_mainMenuEntry { text-align: center; }
		#menu_78c964fa .mobileEntry { display: none; } 
		#menu_78c964fa .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_78c964fa .mobileEntry { display: block; } 
			#menu_78c964fa .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_17897381 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#B30000;  }
#container_17897381_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_4468225e { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:43px; max-width:1200px; background:none;  }
#menu_78c964fa { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#B30000; border: 1px solid #B30000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:140px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:150px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:237px;  }
.menustyle5 { position:absolute; width:43px; height:38px; left:320px;  }
.menustyle6 { position:absolute; width:84px; height:38px; left:363px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_6a2de037 { vertical-align: top; position:relative; display: inline-block; width:75%; max-width:1100px; background:none;  }
#container_6a2de037_padding { margin: 1px; display: block;  }
#container_32d1e1ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:73px; max-width:1100px; background:none;  }
#container_32d1e1ae_padding { margin: 10px; display: block;  }
#anchor_601ef2ee { vertical-align: bottom; position:relative; display: inline-block;  }
#container_40b9db3d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:42px; background:none;  }
#container_40b9db3d_padding { margin: 5px 5px 5px 0px; display: block;  }
#heading_66c2c984 { vertical-align: bottom; position:relative; display: inline-block; width:577px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:left;  }
#container_14be8ae3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_14be8ae3_padding { margin: 5px 5px 5px 0px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_674e25fb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_674e25fb_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_3269e43d { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_680813ee { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_680813ee_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_247d8a88 { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_43540c70 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_43540c70_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_c1a4d7c { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_44f2ffff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_44f2ffff_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_31eea8b3 { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_63d39395 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_63d39395_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_3b373343 { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_287bc1d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_287bc1d_padding { margin: 10px 10px 10px 0px; display: block;  }
#img_2f7c3fa8 { vertical-align: bottom; position:relative; display: inline-block; width:50%; min-width:285px; background:none; height:auto;  }
#container_2f1692e2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:73px; background:none;  }
#container_2f1692e2_padding { margin: 10px; display: block;  }
#container_23c4eccf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:46px; background-color:#B30000;  }
#container_23c4eccf_padding { margin: 5px; display: block;  }
#container_2204ab5f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background:none;  }
#container_2204ab5f_padding { margin: 10px; display: block;  }
#container_4e610eda { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_4e610eda_padding { margin: 5px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_4faa410a { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_4faa410a_padding { margin: 5px; display: block;  }
.textstyle9 { text-align:right; }
#img_37e2884d { position:absolute; left:89%; top:10%; width:3%; background:none; height:auto; position: fixed !important;
right: 25px !important;
bottom: 90px !important;
left: auto !important;
top: auto !important;
z-index: 9999; }
@media only screen and (max-width: 400px)
{
		#container_4e610eda { width:100%;  }
		#container_4faa410a { width:100%;  }
}
