h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1b8ee855{ color:#8080C0; text-decoration: underline} 
		a.wsp1b8ee855:visited{ color:#0000FF; text-decoration: none} 
		a.wsp1b8ee855:active{ color:#111111; text-decoration: none} 
		a.wsp1b8ee855:hover{ color:#0000FF; text-decoration: underline} 
		a.wsp4d10d280{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:visited{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:active{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:hover{ color:#999999; text-decoration: none} 
		a.wsp69ed8850{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:visited{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:active{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:hover{ color:#999999; text-decoration: underline} 
#menu_d897a91 a { text-decoration: none; }
#menu_d897a91_pane { background-color: #B30000; border: 1px solid #B30000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_d897a91_hr { background-color: #B30000; height: 1px; border: none; }
#menu_d897a91_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_d897a91_entry:hover { background-color: #B30000; color: #FFFFFF !important; }
#menu_d897a91_entry:hover span { color:#FFFFFF !important; }
		.menu_d897a91_mainMenuEntry { text-align: center; }
		#menu_d897a91 .mobileEntry { display: none; } 
		#menu_d897a91 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_d897a91 .mobileEntry { display: block; } 
			#menu_d897a91 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_24390623 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#B30000;  }
#container_24390623_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_384f337f { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:43px; max-width:1200px; background:none;  }
#menu_d897a91 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#B30000; border: 1px solid #B30000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:140px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:150px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:237px;  }
.menustyle5 { position:absolute; width:43px; height:38px; left:320px;  }
.menustyle6 { position:absolute; width:84px; height:38px; left:363px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_77f34116 { vertical-align: top; position:relative; display: inline-block; width:73%; max-width:1100px; background:none;  }
#container_77f34116_padding { margin: 1px; display: block;  }
#container_7955dde9 { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1100px; background:none;  }
#container_7955dde9_padding { margin: 5px; display: block;  }
#container_52b3dd01 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_52b3dd01_padding { margin: 10px; display: block;  }
#anchor_33edab6e { vertical-align: bottom; position:relative; display: inline-block;  }
#container_21c85519 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_21c85519_padding { margin: 10px; display: block;  }
#html_579f572f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:32%; height:22px; background-color:#FFFFFF; border: 1px solid #FFFFFF;  }
#heading_776767d { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:17pt; font-family:Arial, Helvetica, sans-serif; color:#B30000; text-align:left;  }
#container_25b673f2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:165px; max-width:1100px; background:none;  }
#container_25b673f2_padding { margin: 10px; display: block;  }
#img_675a4f0f { vertical-align: bottom; position:relative; display: inline-block; width:37%; max-width:300px; background:none; height:auto;  }
#container_3c9e773b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:47px; background:none;  }
#container_3c9e773b_padding { margin: 10px; display: block;  }
#container_14e9464b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_14e9464b_padding { margin: 5px 5px 5px 15px; display: block;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#111111;  }
#container_caa3fdc { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1100px; background:none;  }
#container_caa3fdc_padding { margin: 10px; display: block;  }
#container_4fb911e9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_4fb911e9_padding { margin: 5px 5px 5px 15px; display: block;  }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_48cd5694 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_48cd5694_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_3f79ab3d { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3f79ab3d_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_423ba531 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_423ba531_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_2eac08a6 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2eac08a6_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_1909dea2 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1909dea2_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_70b1cc99 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_70b1cc99_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_4df0b22c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_4df0b22c_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_793c5af1 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_793c5af1_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_4e39dad9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_4e39dad9_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_449500d8 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_449500d8_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_54dcf3ba { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_54dcf3ba_padding { margin: 5px 5px 5px 15px; display: block;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#6E6E6E;  }
#container_217b53ed { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_217b53ed_padding { margin: 5px 5px 5px 15px; display: block;  }
.textstyle10 { font-size:14pt; font-family:'Open Sans', sans-serif; color:#111111;  }
#container_780b4d8 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_780b4d8_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_1652bda9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1652bda9_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_5806090c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5806090c_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_1fc05947 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1fc05947_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_a96c69 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_a96c69_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_7edaaf8d { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7edaaf8d_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_13a168f5 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_13a168f5_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_405b8633 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_405b8633_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_61c7ac77 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_61c7ac77_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_664bc95 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_664bc95_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_7f759eb3 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7f759eb3_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_6e8f5ca4 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6e8f5ca4_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_3e367a2f { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3e367a2f_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_3542d633 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3542d633_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_20f1c961 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_20f1c961_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_35c2174c { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_35c2174c_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_b72ce20 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_b72ce20_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_5c2fe1ea { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5c2fe1ea_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_242c4b28 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_242c4b28_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_32c69c7a { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_32c69c7a_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_43de8361 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_43de8361_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_6b66de80 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6b66de80_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_503a6984 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_503a6984_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_52cf169 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_52cf169_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_2bdb2619 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2bdb2619_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_7cdddc1b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7cdddc1b_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_71e54553 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_71e54553_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_d75b7d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background:none;  }
#container_d75b7d1_padding { margin: 10px; display: block;  }
#container_6287596f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:46px; background-color:#BB1414;  }
#container_6287596f_padding { margin: 5px; display: block;  }
#container_72aac156 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background:none;  }
#container_72aac156_padding { margin: 10px; display: block;  }
#container_2e9dda35 { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_2e9dda35_padding { margin: 5px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_9446d96 { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_9446d96_padding { margin: 5px; display: block;  }
.textstyle12 { text-align:right; }
#img_2e940174 { position:absolute; left:87%; top:11%; width:3%; background:none; height:auto; position: fixed !important;
right: 25px !important;
bottom: 90px !important;
left: auto !important;
top: auto !important;
z-index: 9999; }
@media only screen and (max-width: 400px)
{
		#container_2e9dda35 { width:100%;  }
		#container_9446d96 { width:100%;  }
}
