a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1b8ee855{ color:#8080C0; text-decoration: underline} 
		a.wsp1b8ee855:visited{ color:#0000FF; text-decoration: none} 
		a.wsp1b8ee855:active{ color:#111111; text-decoration: none} 
		a.wsp1b8ee855:hover{ color:#0000FF; text-decoration: underline} 
		a.wsp4d10d280{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:visited{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:active{ color:#6E6E6E; text-decoration: none} 
		a.wsp4d10d280:hover{ color:#999999; text-decoration: none} 
		a.wsp69ed8850{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:visited{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:active{ color:#6E6E6E; text-decoration: underline} 
		a.wsp69ed8850:hover{ color:#999999; text-decoration: underline} 
#menu_18f46d01 a { text-decoration: none; }
#menu_18f46d01_pane { background-color: #B30000; border: 1px solid #B30000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_18f46d01_hr { background-color: #B30000; height: 1px; border: none; }
#menu_18f46d01_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_18f46d01_entry:hover { background-color: #B30000; color: #FFFFFF !important; }
#menu_18f46d01_entry:hover span { color:#FFFFFF !important; }
		.menu_18f46d01_mainMenuEntry { text-align: center; }
		#menu_18f46d01 .mobileEntry { display: none; } 
		#menu_18f46d01 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_18f46d01 .mobileEntry { display: block; } 
			#menu_18f46d01 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1ac047bb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#B30000;  }
#container_1ac047bb_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_2baa17b4 { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:43px; max-width:1200px; background:none;  }
#menu_18f46d01 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#B30000; border: 1px solid #B30000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:140px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:87px; height:38px; left:150px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:237px;  }
.menustyle5 { position:absolute; width:64px; height:38px; left:320px;  }
.menustyle6 { position:absolute; width:43px; height:38px; left:384px;  }
.menustyle7 { position:absolute; width:84px; height:38px; left:427px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_356e6c71 { vertical-align: top; position:relative; display: inline-block; width:73%; max-width:1100px; background:none;  }
#container_356e6c71_padding { margin: 1px; display: block;  }
#container_146da33e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; max-width:1100px; background:none;  }
#container_146da33e_padding { margin: 5px; display: block;  }
#container_23588786 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:62px; background:none;  }
#container_23588786_padding { margin: 10px; display: block;  }
#anchor_5430907c { vertical-align: bottom; position:relative; display: inline-block;  }
#container_37dbee5c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:29px; background:none;  }
#container_37dbee5c_padding { margin: 10px; display: block;  }
#html_7aff6f25 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:32%; height:22px; background-color:#FFFFFF; border: 1px solid #FFFFFF;  }
#container_512d64b4 { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1100px; background:none;  }
#container_512d64b4_padding { margin: 10px; display: block;  }
#container_63cd1fee { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_63cd1fee_padding { margin: 5px 5px 5px 15px; display: block;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3cd59a72 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3cd59a72_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_1ed498b3 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_1ed498b3_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_77609974 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_77609974_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_5c4352dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_5c4352dd_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_785adad6 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_785adad6_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_67a1d7e2 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_67a1d7e2_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_3a25deb9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3a25deb9_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_2b1b164e { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2b1b164e_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_5292000a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_5292000a_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_5f5ee9dd { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5f5ee9dd_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_54009b10 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_54009b10_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_790e906b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_790e906b_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_7cbf515b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_7cbf515b_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_2cd456e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_2cd456e3_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_76ab3f7b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_76ab3f7b_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_1f0c1f09 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_1f0c1f09_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_514d2553 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:32px; background:none;  }
#container_514d2553_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_45550c7 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_45550c7_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_2341115b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_2341115b_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_4d5376c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_4d5376c2_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_598a7e43 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_598a7e43_padding { margin: 5px 5px 5px 15px; display: block;  }
#container_66281d83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_66281d83_padding { margin: 10px; display: block;  }
#container_20ee5ed8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:46px; background-color:#BB1414;  }
#container_20ee5ed8_padding { margin: 5px; display: block;  }
#container_1e37c9d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background:none;  }
#container_1e37c9d_padding { margin: 10px; display: block;  }
#container_33bdf33c { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_33bdf33c_padding { margin: 5px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_5c024e5e { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_5c024e5e_padding { margin: 5px; display: block;  }
.textstyle9 { text-align:right; }
#img_45a28d37 { position:absolute; left:87%; top:11%; height:3%; background:none; position: fixed !important;
right: 25px !important;
bottom: 90px !important;
left: auto !important;
top: auto !important;
z-index: 9999; }
@media only screen and (max-width: 400px)
{
		#container_33bdf33c { width:100%;  }
		#container_5c024e5e { width:100%;  }
}
